
  .btn.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 400ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .btn.btn-background-slide:hover::before,
  .btn.btn-background-slide:focus::before {
    transform: scaleX(1);
  }
  
  .btn.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
  }
  
  
  .btn.btn-background-slide:hover,
  .btn.btn-background-slide:focus {
    color: white;
  }

  .btn-img2:before {
    height: 30%;
  }

  .btn-img3:before {
    height: 75%;
  }

  .btn-img4:before {
    height: 75%;
  }

  .btn-img5 {
    margin: 0px 10px 10px 15px !important;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }

  .btn-test {
    margin: 0px 10px 10px 15px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

