.img-overlay-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img-overlay-label h1 {
    position: absolute;
    left: 5%;
    background-color: black;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  .img-overlay-label:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }
  
  
  .img-overlay-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay-button button {
    position: absolute;
    left: 5%;
  }
  
  .img-overlay-button:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 60%;
    
  }
  
  @media (max-width: 720px) {
    .btn-responsive {
      padding:2px 4px !important;
      font-size:80% !important;
      line-height: 1 !important;
      border-radius:3px !important;
    }
  }
  
  @media (max-width: 992px){
    .btn-responsive {
      padding:4px 9px !important;
      font-size:90% !important;
      line-height: 1.2 !important;
    }
  }
  
  @media (min-width: 100px){
    .month {
      font-size:32px !important;
    }
  }
  
  @media (max-width: 720px){
    .month {
      font-size:15px !important;
    }
  }
  
  @media (max-width: 576px){
    .month {
      font-size:32px !important;
    }
  }
  
  @media (max-width: 768px){
    .month {
      font-size:32px !important;
    }
  }
  
  @media (max-width: 992px){
    .month {
      font-size:15px !important;
    }
  }
  
  .btn {
    --accent-color: #BF0000;
  }
  
  